
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
    transition: color 0.3s ease;
}       

nav a:hover {
    color: #f0a500;
}


section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #f0a500;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
}

input[type="checkbox"]:checked + label {
    color: #f0a500;
}

input[type="submit"]:disabled {
    background-color: grey;
}

ul.gallery {
    display: flex;
    gap: 15px;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul.gallery li {
    list-style: none;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

ul.gallery li:nth-child(odd) {
    background-color: #e0e0e0;
}

ul.gallery img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.content p:first-child {
    font-weight: bold;
    color: #f0a500;
}

.content p:last-child {
    font-style: italic;
    color: #007BFF;
}

button.button-active {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #f0a500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

button.button-active:active {
    transform: scale(0.95);
}